article.apply-card {
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 12%;
    padding-bottom: 8%;
    margin-top: -20%;
    position: relative;
    z-index: 2;
}

article.apply-card h2 {
    font-size: 30px;
    font-family: var(--fraunces);
    margin-bottom: 8%;
}

article.apply-card p {
    width: 96%;
    font-size: 19px;
    font-weight: 200;
    line-height: 130%;
    font-family: var(--manrope);
    margin-bottom: 8%;
}

article.apply-card button {}