footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
    padding-top: 20%;
    padding-bottom: 20%;
}

footer div#footer-content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
    max-width: 144px;
    font-family: var(--manrope);
    color: var(--primary-color);
}

#footer-title {
    margin-bottom: 34%;
}

div#footer-title span:nth-child(1) {
    font-size: 38px;
    font-weight: 700;
}

div#footer-title span:nth-child(2) {
    font-size: 38px;
    font-weight: 300;
}

footer div#footer-content ul {
    width: 46%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer div#footer-content ul li {
    display: grid;
    place-items: center;
    width: 100%;
}

footer div#footer-content ul li ion-icon {
    color: #594D63;
    font-size: 28px;
}

ul li:not(:first-child) ion-icon {
    margin-left: 30px;
}

footer div#footer-content ul li ion-icon:hover {
    color: var(--primary-color);
}