div#image-box {
    position: relative;
    width: 90%;
    z-index: 2;
    margin-bottom: -30px;
    /* bottom: -56px; */
    bottom: -80px;
    margin: 0 auto;
    text-align: center;
}

div#image-box img {
    width: 100%;
}