@media (min-width:1024px) {
    #apply-section {
        width: 100%;
        max-width: 700px;
    }

    #apply-section #image-box img {
        width: 50%;
    }

    article.apply-card {
        width: 70%;
        margin: unset;
        margin-left: 50%;
        margin-top: -27%;
        padding: 4% 5% 4% 5%;
        align-items: start;
        max-width: 460px;
    }
}